global-reset()
@import 'variables'

body
  background-image: url('/images/background-gradient.png')
  background-size: auto, 100%, cover
  height: 100%
  width: 100%
  position: fixed

.menu
  position: fixed
  z-index: 5
  height: 100%
  width: 100%

  &.closed
    display: none

  .background
    position: absolute
    z-index: 1
    height: 100%
    width: 100%
    opacity: 0.5
    background: blue

  .exit
    width: 40px
    height: auto
    position: absolute
    z-index: 2
    fill: $yellow
    top: 15px
    right: 17px

  .more-projects
    text-align: center
    margin: 30px 0
    a
      display: inline-block
      border: solid 3px $controlsColor
      text-decoration: none
      border-radius: 7px
      padding: 10px

  .content
    position: relative
    z-index: 2
    margin-top: 50px
    padding: 0 20px
    font-family: $SourceCode
    font-size: 22px
    color: $yellow
    line-height: 30px

    h2
      font-style: italic

    a
      color: $yellow

    .credit
      clearfix()
      padding: 6px 0
    .role
      float: left
    .name
      float: right

header
  display: -webkit-flex
  display: flex
  height: 70px

  .title
    display: -webkit-flex
    display: flex
    width: 100%
    padding: 5px 10px 0 10px
    img
      max-width: 100%
      max-height: 70px
      width: auto
      height: auto
      z-index: 2
      margin-left: 5px

  .menu-icon
    width: 47px
    padding: 4px 10px
    cursor: pointer
    margin: 15px 10px 0 0
    &.hidden
      visibility: hidden

    div
      width: 35px
      height: 4px
      background: $yellow
      margin-bottom: 7px
      border-radius: 6px
      &:last-child
        margin: 0

.grid
  background-image: url('/images/background-grid.png')
  height: 100%
  width: 100%
  position: absolute
  z-index: -1
  top: 0
  opacity: 0.4

#canvas
  display: block
  opacity: 0.8
  margin-top: -7px

.controls
  position: fixed
  left: 0
  bottom: 0
  color: #fe4528
  cursor: pointer
  user-select: none
  height: 80px
  width: 100%
  display: -webkit-flex
  display: flex

  .arrow
    height: 72px
    width: 72px
    background: $controlsColor
    border-radius: 7px
    border: solid 2px $controlsColor
    margin-left: 5px
    svg
      height: 90px
      width: 72px
      fill: $black

    &.pressed
      background: $black
      border: solid 2px $black
      svg
        fill: $controlsColor

  .shoot-bar
    position: relative
    width: 100%
    max-width: 110px
    height: 72px
    background: $black
    border-radius: 7px
    margin: 0 5px
    border: solid 2px $controlsColor
    text-align: center
    svg
      fill: $controlsColor
      height: 75px
      display: inline-block
      margin-top: 5px

    &.pressed
      background: $controlsColor
      border: solid 2px $black
      svg
        fill: $black


