footer.controls
  .arrow.left-arrow
    svg( viewBox="0 0 54 67.5", version="1.1", x="0px", y="0px" )
      g( stroke="none", stroke-width="1", fill="blue", fill-rule="evenodd", sketch:type="MSPage")
      g( sketch:type="MSLayerGroup", fill="#000000" )
      path( d="M49.217,0 L4.783,0 C2.146,0 0,2.145 0,4.783 L0,49.218 C0,51.854 2.146,54 4.783,54 L49.217,54 C51.854,54 54,51.854 54,49.217 L54,4.782 C54,2.145 51.854,0 49.217,0 L49.217,0 Z M38,39.175 C38,40.263 37.115,41.147 36.027,41.147 C35.685,41.147 35.344,41.056 35.044,40.882 L13.957,28.707 C13.339,28.35 12.971,27.712 12.971,27 C12.971,26.288 13.339,25.649 13.957,25.293 L35.044,13.118 C35.344,12.944 35.685,12.852 36.027,12.852 C37.115,12.852 38,13.737 38,14.825 L38,39.175 L38,39.175 Z", sketch:type="MSShapeGroup" )

  .arrow.up-arrow
    svg( viewBox="0 0 54 67.5", version="1.1", x="0px", y="0px" )
      g( stroke="black", stroke-width="1", fill="#000000", fill-rule="evenodd", sketch:type="MSPage" )
      g( sketch:type="MSLayerGroup", fill="#000000" )
      path( d="M49.217,0 L4.783,0 C2.146,0 0,2.145 0,4.782 L0,49.217 C0,51.854 2.146,54 4.783,54 L49.217,54 C51.854,54 54,51.854 54,49.218 L54,4.783 C54,2.145 51.854,0 49.217,0 L49.217,0 Z M40.882,37.015 C40.525,37.632 39.887,38 39.175,38 L14.825,38 C14.113,38 13.475,37.632 13.118,37.015 C12.762,36.397 12.762,35.66 13.119,35.044 L25.293,13.956 C25.649,13.339 26.288,12.971 27,12.971 C27.712,12.971 28.351,13.339 28.707,13.956 L40.882,35.044 C41.238,35.66 41.238,36.397 40.882,37.015 L40.882,37.015 Z", sketch:type="MSShapeGroup" )

  .arrow.right-arrow
    svg( viewBox="0 0 54 67.5", version="1.1", x="0px", y="0px" )
      g( stroke="none", stroke-width="1", fill="none", fill-rule="evenodd", sketch:type="MSPage" )
      g( sketch:type="MSLayerGroup", fill="#000000" )
      path( d="M49.217,0 L4.783,0 C2.146,0 0,2.145 0,4.783 L0,49.217 C0,51.854 2.146,54 4.783,54 L49.217,54 C51.855,54 54,51.854 54,49.217 L54,4.783 C54,2.145 51.855,0 49.217,0 L49.217,0 Z M40.044,28.707 L18.956,40.882 C18.656,41.056 18.315,41.147 17.973,41.147 C16.885,41.147 16,40.263 16,39.175 L16,14.825 C16,13.737 16.885,12.852 17.973,12.852 C18.315,12.852 18.656,12.944 18.956,13.118 L40.044,25.293 C40.661,25.649 41.029,26.288 41.029,27 C41.029,27.712 40.661,28.35 40.044,28.707 L40.044,28.707 Z", sketch:type="MSShapeGroup" )

  .space-bar
    svg( version="1.1", x="0px", y="0px", viewBox="0 0 100 125", enable-background="new 0 0 100 100", xml:space="preserve" )
      path( d="M91.747,48.996H76.144C75.392,35.748,64.748,25.105,51.5,24.353V8.752h-3v15.601c-13.248,0.752-23.891,11.395-24.643,24.643  H8.253v3h15.604C24.609,65.245,35.252,75.889,48.5,76.641v15.607h3V76.641c13.248-0.752,23.892-11.396,24.644-24.645h15.604V48.996z   M51.5,72.63V60.572h-3V72.63c-11.041-0.741-19.891-9.593-20.633-20.634h12.06v-3h-12.06c0.742-11.041,9.592-19.891,20.633-20.633  v12.063h3V28.363c11.041,0.742,19.892,9.592,20.633,20.633h-12.06v3h12.06C71.392,63.037,62.541,71.889,51.5,72.63z" )
