svg.exit( version="1.1", x="0px", y="0px", viewBox="0 0 100 125", enable-background="new 0 0 100 100", xml:space="preserve" )
  g
    path( d="M83.904,100H16.325C7.45,100,0.23,92.78,0.23,83.904V16.327c0-8.875,7.22-16.095,16.095-16.095h67.579   c8.875,0,16.096,7.22,16.096,16.095v67.577C100,92.78,92.779,100,83.904,100z M16.325,9.514c-3.757,0-6.813,3.056-6.813,6.813   v67.577c0,3.758,3.056,6.814,6.813,6.814h67.579c3.757,0,6.814-3.057,6.814-6.814V16.327c0-3.757-3.058-6.813-6.814-6.813H16.325z" )
  polygon( points="79.802,69.751 69.749,79.806 50.113,60.172 30.48,79.806 20.424,69.751 40.059,50.115 20.424,30.483 30.48,20.427   50.113,40.061 69.749,20.427 79.802,30.483 60.171,50.115 ")

