doctype html
html
  head
    link(rel='stylesheet', href='dist/mobile.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Source+Code+Pro")
    meta( name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

    script(src='node_modules/asteroids/keymaster/keymaster.min.js')
    script(src='node_modules/asteroids/moving_object.js')
    script(src='node_modules/asteroids/asteroids.js')
    script(src='node_modules/asteroids/bullet.js')
    script(src='node_modules/asteroids/ship.js')
    script(src='node_modules/asteroids/game.js')
    script(data-main='dist/main', src='node_modules/requirejs/require.js')

  body
    .grid
    header
      .title
        img( src="/images/blasteroids-logo.png")
      .menu-icon
        div
        div
        div
    canvas#canvas( width="500", height="500")
    include arrow_keys
